/*GENERAL*/
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

}

body {
 font-family: 'Montserrat';
}

.logo {
    
    margin-left: 0px;
    margin-top: 0px;
    width: 100x;
    height: 100px;
    

}

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
